body {
    background-color: #808080;;
    font-weight: 400;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.container {
    background-color: #808080;;
    max-width: 600px;
    margin:  auto;
    height: 100%;
    text-align: center;
    position: relative;
}


/* ===================================================================================================== */
.small-image{
    max-width: 100%;
}


.Trofim {
    color: #ffffff;    
    position: absolute;
    top: 65%;
    left: 3%;
    font-size: 45px;
}

@media (max-width: 430px) {
    .Trofim {
        font-size: 35px;
        padding: 10px;
        position: absolute;
        top: 65%;
        left: 3%;
    }
}

.Anastasiy {color: #ffffff;    
    position: absolute;
    top: 75%;
    left: 22%;
    font-size: 45px;
}
@media (max-width: 430px) {
    .Anastasiy{
        font-size: 35px;
        padding: 10px;
    }
}
.date {color: #ffffff;    
    position: absolute;
    top: 85%;
    left: 25%;
    font-size: 45px;
}

@media (max-width: 430px) {
    .date {
        font-size: 35px;
        padding: 10px;
    }
}

/* * ===================================================================================================== */
.Dear__family{
    display: grid;
    grid-template-rows: auto 1fr; /* Текст занимает нужное место, картинка — остальное */
    gap: 10px;
}
.Dear{
    padding-top: 10px;
    font-size: 35px;
    padding-left: 230px;
}
@media (max-width: 425px) {
    .Dear {
        padding-top: 10px;
        font-size: 30px;
        padding-left: 205px;
    }
}

.family {
    font-size: 24px;
    padding-left: 150px;
}
@media (max-width: 425px) {
    .family {
        font-size: 24px;
        padding-left: 125px;
    }
}
@media (max-width: 380px) {
    .family {
        font-size: 24px;
        padding-left: 110px;
    }
}
.text {
    padding-top: 15px;
    text-align: left;
    margin-bottom: 50px;
    padding-left: 20px;
}
.img__dear_iner{
    width: 100%;
}

/* * ===================================================================================================== */
.container__main{
    background-color: #808080;;
    max-width: 600px;
    margin:  auto;
    height: 100%;
}

.time {    
    font-size: 35px;
    padding-left: 255px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (max-width: 425px) {
    .time {
        font-size: 30px;
        padding-left: 240px;
    }
}
@media (max-width: 397px) {
    .time {
        font-size: 30px;
        padding-left: 230px;
    }
}
.time__castle { 
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: 5px;
}
.castle { margin-bottom: 25px;
    font-size: 20px;
    padding-left: 20px;

}
.transfer {margin-bottom: 25px;
    font-size: 20px;
    padding-left: 20px;
}
.time__dinner {
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: 5px;
}
.gala__dinner {margin-bottom: 25px;
    font-size: 20px;
    padding-left: 20px;
}
.personal__car {margin-bottom: 10px;
    font-size: 16px;
    padding-left: 20px;
}

/* [========================================================================== */


.container__present {
    max-width: 600px;
    margin:  auto;
    height: 100%;
    background-image: url(../img/three.jpg);
    background-size: 100%;
    color: white;
    background-repeat: no-repeat;
}


.img__present{
    max-width: 100%;
    
    
}

.Present__title{ 
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 540px;
    margin-left: 240px;

}

@media (max-width: 425px) {
    .Present__title{
        font-size: 30px;
        padding-top: 20px;
        margin-bottom: 475px;
        margin-left: 225px;
        
    }
}
@media (max-width: 403px) {
    .Present__title{
        font-size: 30px;
        padding-top: 20px;
        margin-bottom: 370px;
        margin-left: 225px;
        
    }
}

.Present__iner{
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 35px;
    padding-right: 16px;
}

@media (max-width: 403px) {
    .Present__iner{
        font-size: 14px;
        padding-left: 20px;
        padding-bottom: 35px;
        padding-right: 16px;
    }
}

/* ================================================================================= */



.details {
    font-size: 30px;
    padding-top: 20px;
    margin-left: 240px;
}
.detalis__text {    
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    text-align: left;
}
.dress {
    font-size: 25px;
    padding-top: 15px;
    margin-left: 20px;
    text-align: left;
}
.detalis__text_dress {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
}
.chaild {
    font-size: 25px;
    padding-top: 15px;
    margin-left: 20px;
    text-align: left;
}
.detalis__text_chaild {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
}
.flowers {
    font-size: 25px;
    padding-top: 15px;
    margin-left: 20px;
    text-align: left;
}
.detalis__flowers {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
}

/* ================================================================================= */

.container__footer{
    max-width: 600px;
    margin:  auto;
    height: 100%;
    background-image: url(../img/footer.jpg);
    background-size: 100%;
    color: white;
    background-repeat: no-repeat;
}

.We {    
    font-size: 30px;
    padding-top: 10px;
    margin-left: 210px;
}
@media (max-width: 403px) {
    .We {
        font-size: 30px;
        padding-top: 10px;
        margin-left: 200px;
        
    }
}
@media (max-width: 395px) {
    .We {
        font-size: 30px;
        padding-top: 10px;
        margin-left: 180px;
        
    }
}
.love {    
    font-size: 30px;
    padding-top: 10px;
    margin-left: 285px;
}
@media (max-width: 403px) {
    .love {
        font-size: 30px;
        padding-top: 10px;
        margin-left: 274px;
        
    }
}
@media (max-width: 395px) {
    .love {
        font-size: 30px;
        padding-top: 10px;
        margin-left: 251px;
        
    }
}
.we_are_waiting {    
    font-size: 20px;
    padding-top: 5px;
    margin-left: 320px;
    margin-bottom: 415px;
}

@media (max-width: 425px) {
    .we_are_waiting{
        font-size: 20px;
        padding-top: 5px;
        margin-bottom: 415px;
        margin-left: 320px;
        
    }
}
@media (max-width: 403px) {
    .we_are_waiting{
        font-size: 20px;
        padding-top: 5px;
        margin-bottom: 415px;
        margin-left: 305px;
        
    }
}
@media (max-width: 395px) {
    .we_are_waiting{
        font-size: 20px;
        padding-top: 5px;
        margin-bottom: 379px;
        margin-left: 284px;
        
    }
}

.answer {
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 35px;
    padding-right: 16px;
    text-align: left;
}

@media (max-width: 395px) {
    .answer {
        font-size: 16px;
        padding-left: 20px;
        padding-bottom: 8px;
        padding-right: 16px;
        text-align: left;
        
    }
}
